default:
    suites:
        default:
            contexts:
                - App\Behat\ClockContext
                - App\Behat\MeetingContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: App\Kernel
